.header{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    flex: 1;
    padding-top: 12px;
    /* position: relative; */
    align-items: center;
}
.menu{
    /* background-color: red; */
    display: flex;
    flex: 1;
    justify-content: flex-end;
    position: fixed; 
    z-index: 1000; 
}
.menu-icon{
    font-size: 24px;
}
.web-menu{
    display: flex;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 50px;
}
.mobile-menu{
    display: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 25px;
}
.logo{
    display: flex;
    font-size: 36px;
    color: blueviolet;
    font-weight: 800;
}

@media only screen and (max-width: 1050px){
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none; 
    }
    .logo{
        font-size: 36px;
    }
}