.about {
  padding-bottom: 48px;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  height: 350px;
  border-radius: 50px;
}
.about-info {
  font-size: 24px;
}
.info-name {
  color: blue;
  font-size: 32px;
  margin-left: 12px;
}
.ityped-cursor {
  font-size: 40px;
  animation: blink 1s infinite;
  color: black;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    margin-top: 20px;
    height: 200px;
  }
  .about-info {
    font-size: 20px;
  }
  .info-name {
    font-size: 26px;
  }
  .ityped-cursor {
    font-size: 30px;
  }
}